#deck{
  background-image: url("https://th.bing.com/th/id/R.dd6dc8a6b6db1b6f4b01bd1bcc891621?rik=fG3bgfEsnGfGug&pid=ImgRaw&r=0");
  background-size: 150px;
  background-repeat:no-repeat;
  width: 150px;
  height: 247.5px;
  border: 0px solid white;
  background-color:white;
  margin-left: 100px;
  margin-top: 50px;
}
#deck:hover{
  cursor:pointer;
}
#hand {
  display: flex;
  background-color: white;
  width: 150px;
  height: 247.5px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 105px;
  margin-left: 100px;
}