body{
  background-color: blue;
  margin: 0;
}
.person{
  text-align: center;
  background-color: rgb(162, 28, 28);
  font-family: arial;
  margin-left: 30px;
  padding: 5px 10px 10px 10px;
  display: inline-block
}

 .screen{
  background-color: rgb(21, 1, 76);
  font-family: arial;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
  } 

  .rowC{
    display:flex; 
    flex-direction:row;
  }

  .textCenter{
    text-align: center;
  }