body{
  background-color: white
}
.buttons{
  background-color: white;
  font-family: arial;
  font-weight: bold;
  margin-left: 30px;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block
}

.screen{
  background-color: rgb(21, 1, 76);
  font-family: arial;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  width: 450px;
  display: inline-block;
  }

  .centerText{
    text-align: center;
}

.move{
  background-color: white;
  font-family: arial;
  margin-left: 30px;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
}

.whiteText{
  color: white;
  text-shadow: 1px 1px 2px black;
}